body {
    font-size: 24px;
    font-family: 'Space Mono', monospace;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.media-player-container {
    padding: 50px 0 0;
    max-width: 1200px;
    margin: 0 auto;

    .media-player {
        margin: 0 auto;
        max-width: 600px;

        .progress-bar-container {
            position: relative;
            height: 20px;
            background-color: lightgray;
        }

        .progress-bar,
        .seeker {
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            position: absolute;
        }

        .progress-bar {
            background-color: darkorange;
        }

        .seeker {
            cursor: pointer;
        }
    }

    .media-player-library {

    }
}


