body {
    font-size: 24px;
    font-family: 'Space Mono', monospace;
    margin: 0 auto;
    max-width: 600px;
    padding-top: 50px;
}

.media-player {
    padding: 15px;

    .progress-bar-container {
        position: relative;
        height: 20px;
        background-color: lightgray;
    }

    .progress-bar,
    .seeker {
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        position: absolute;
    }

    .progress-bar {
        background-color: darkorange;
    }

    .seeker {
        cursor: pointer;
    }
}
