body {
  font-size: 24px;
  font-family: 'Space Mono', monospace; }

.clearfix:after {
  content: "";
  display: table;
  clear: both; }

.media-player-container {
  padding: 50px 0 0;
  max-width: 1200px;
  margin: 0 auto; }
  .media-player-container .media-player {
    margin: 0 auto;
    max-width: 600px; }
    .media-player-container .media-player .progress-bar-container {
      position: relative;
      height: 20px;
      background-color: lightgray; }
    .media-player-container .media-player .progress-bar,
    .media-player-container .media-player .seeker {
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      position: absolute; }
    .media-player-container .media-player .progress-bar {
      background-color: darkorange; }
    .media-player-container .media-player .seeker {
      cursor: pointer; }
  .media-player-container .library .branch > ul {
    display: none; }
  .media-player-container .library .branch.opened > ul {
    display: block; }
